<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.DeptMapper">
    <insert id="addDept">
        INSERT INTO sys_dept(deptNo,deptName,areaId,pId,levelId,address,contact,contactNumber,principal,principalNumber,productType,createDate)
        VALUE (#{deptNo},#{deptName},#{areaId},#{pId},#{levelId},#{address},#{contact},#{contactNumber},#{principal},#{principalNumber},#{productType},NOW())
    </insert>

    <delete id="deleteDept">
        DELETE FROM sys_dept WHERE deptId = #{deptId}
    </delete>

    <update id="hiddenDept">
        UPDATE sys_dept
        SET flag = #{flag},
        updateDate = NOW()
        WHERE deptId = #{deptId}
    </update>

    <update id="updateDept">
        UPDATE sys_dept
        SET deptName = #{deptName},
            address = #{address},
            contact = #{contact},
            contactNumber = #{contactNumber},
            principal = #{principal},
            principalNumber = #{principalNumber},
            productType = #{productType},
            updateDate = NOW()
        WHERE deptId = #{deptId}
    </update>

    <select id="queryDeptList" resultType="java.util.HashMap" statementType="CALLABLE">
        SELECT
        deptId,
        deptNo,
        deptName,
        sd.levelId,
        sdl.levelName,
        sd.areaId,
        sa.areaName,
        sd.pId,
        address,
        contact,
        contactNumber,
        principal,
        principalNumber,
        sd.createDate,
        productType
        FROM sys_dept sd
        LEFT JOIN sys_dept_level sdl ON sd.levelId = sdl.levelId
        LEFT JOIN sys_area sa ON sd.areaId = sa.areaId
        WHERE flag = 1
            <if test="areaId != null and areaId != 0">
                AND sd.areaId = #{areaId}
            </if>
            <if test="pId != null and pId != 0">
                AND sd.pId = #{pId}
            </if>
            <if test="deptNo != null and deptNo != 0">
                AND sd.deptNo like '${deptNo}%'
            </if>
        <if test="levelId != null and levelId != 0">
            AND sd.levelId = #{levelId}
        </if>
        ORDER BY sd.levelId
    </select>

    <select id="queryDeptById" resultType="java.util.HashMap" statementType="CALLABLE">
        SELECT
        deptId,
        deptNo,
        deptName,
        sd.levelId,
        sdl.levelName,
        sd.areaId,
        sa.areaName,
        sd.pId,
        address,
        contact,
        contactNumber,
        principal,
        principalNumber,
        sd.createDate,
        productType,
        GROUP_CONCAT(pt.typeName) AS typeName
        FROM sys_dept sd
        LEFT JOIN sys_dept_level sdl ON sd.levelId = sdl.levelId
        LEFT JOIN sys_area sa ON sd.areaId = sa.areaId
        LEFT JOIN product_type pt ON sd.productType &amp; pt.typeId &gt; 0
        WHERE deptId = #{deptId}
        GROUP BY deptId
    </select>


    <select id="getMaxUnderDeptNo" resultType="java.lang.String">
        SELECT MAX(sd.deptNo)
        FROM sys_dept sd
        WHERE sd.pId = #{pId}
    </select>

    <select id="getDeptNoById" resultType="java.lang.String">
        SELECT MAX(sd.deptNo)
        FROM sys_dept sd
        WHERE sd.deptId = #{deptId}
    </select>

    <select id="queryLevelList" resultType="java.util.HashMap" statementType="CALLABLE">
        SELECT
        levelId,
        levelName
        FROM sys_dept_level
        WHERE openFlag = 1
    </select>
</mapper>