<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.ProductMapper">

    <insert id="addProduct">
        INSERT INTO product(productNo,objectId,productTypeId,cUserId,createDate,companyId,description,dutyTypeId,
        processNo,standardId,owner,pieceId)
        VALUE (#{productNo},#{objectId},#{productTypeId},#{cUserId},#{createDate},#{companyId},#{description},
        #{dutyTypeId},#{processNo},#{standardId},#{owner},#{pieceId})
    </insert>

    <delete id="deleteProduct">
        DELETE FROM product WHERE id = #{id}
    </delete>

    <update id="updateProduct">
        UPDATE product
        SET productTypeId = #{productTypeId},
            companyId = #{companyId},
            description = #{description},
            dutyTypeId = #{dutyTypeId},
            processNo = #{processNo},
            owner = #{owner},
            pieceId = #{pieceId},
            standardId = #{standardId}
        WHERE id = #{id}
    </update>

    <select id="queryProductList" resultType="HashMap">
        SELECT p.id, p.productNo, pt.typeName, po.objectName,pdt.name AS dutyTypeName,
        ps.name AS standardName, sc.companyName,su.userName,p.createDate,p.owner,sc.areaId
        FROM product p
        LEFT JOIN product_object po ON p.objectId = po.objectId
        LEFT JOIN product_type pt ON p.productTypeId = pt.typeId
        LEFT JOIN product_duty_type pdt ON p.dutyTypeId = pdt.typeId
        LEFT JOIN productive_standard ps ON p.standardId = ps.standardId
        LEFT JOIN sys_company sc ON p.companyId = sc.companyId
        LEFT JOIN sys_user su ON p.cUserId = su.userId
        <where>
            <if test="companyId!= null and companyId!= '' ">
                companyId = #{companyId}
            </if>
            <if test="areaId!= null and areaId!= '' ">
                sc.areaId = #{areaId}
            </if>
            <if test="productTypeId!=null and productTypeId!='' ">
                AND productTypeId = #{productTypeId}
            </if>
        </where>
        ORDER BY createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="queryProductById" resultType="HashMap">
        SELECT p.id, p.productNo, pt.typeName, po.objectName,pdt.name AS dutyTypeName,
                                  ps.name AS standardName, sc.companyName,su.userName,p.createDate,p.owner,sc.areaId
        FROM product p
            LEFT JOIN product_object po ON p.objectId = po.objectId
            LEFT JOIN product_type pt ON p.productTypeId = pt.typeId
            LEFT JOIN product_duty_type pdt ON p.dutyTypeId = pdt.typeId
            LEFT JOIN productive_standard ps ON p.standardId = ps.standardId
            LEFT JOIN sys_company sc ON p.companyId = sc.companyId
            LEFT JOIN sys_user su ON p.cUserId = su.userId
        WHERE p.id = #{id}
    </select>
    <select id="queryProductType" resultType="HashMap">
        SELECT id, typeName
        FROM product_type
    </select>
</mapper>