<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.ProductMapper">

    <insert id="addProduct">
        INSERT INTO product(productNo, objectId, productType, cUserId, createDate, companyId, description, dutyTypeId,
        processNo, productDate,owner, serialNumber, standardId, acreId)
        VALUE (#{productNo}, #{objectId}, #{productTypeId}, #{cUserId}, NOW(), #{companyId}, #{description},
        #{dutyTypeId}, #{processNo}, #{productDate}, #{owner}, #{serialNumber}, #{standardId}, #{acreId})
    </insert>

    <delete id="deleteProduct">
        DELETE FROM product WHERE id = #{id}
    </delete>

    <update id="updateProduct">
        UPDATE product
        <set>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="dutyTypeId != null and dutyTypeId != ''">
                dutyTypeId = #{dutyTypeId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryProductList" resultType="HashMap">
        SELECT p.id, p.productNo, pt.typeName,p.productType AS productTypeId, po.objectName,pdt.name AS
        dutyTypeName,p.productDate,
        ps.name AS standardName, sc.companyName,su.userName,p.createDate,sc.areaId,
        (SELECT count(*) FROM sample s WHERE s.productId = p.id) AS sampleCount
        FROM product p
        LEFT JOIN product_object po ON p.objectId = po.objectId
        LEFT JOIN product_type pt ON p.productType = pt.typeId
        LEFT JOIN product_duty_type pdt ON p.dutyTypeId = pdt.typeId
        LEFT JOIN productive_standard ps ON p.standardId = ps.standardId
        LEFT JOIN sys_company sc ON p.companyId = sc.companyId
        LEFT JOIN sys_user su ON p.cUserId = su.userId
        <where>
            <if test="companyId!= null and companyId!=0">
                p.companyId = #{companyId}
            </if>
            <if test="productType!=null and productType!=0">
                AND p.productType = #{productType}
            </if>
            <if test="objectName!=null and objectName!=''">
                AND po.objectName like '#{objectName}'
            </if>
            <if test="dutyTypeId!=null and dutyTypeId!=0">
                AND p.dutyTypeId = #{dutyTypeId}
            </if>
            <if test="acreId!=null and acreId!=0">
                AND p.acreId = #{acreId}
            </if>
            <if test="startDate != null and startDate!=''">
                AND DATE_FORMAT(p.createDate, '%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate}, '%Y-%m-%d')
            </if>
            <if test="endDate != null and endDate!=''">
                AND DATE_FORMAT(p.createDate, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>
        </where>
        ORDER BY p.createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="queryProductListCount" resultType="Integer">
        SELECT count(*)
        FROM product p
        LEFT JOIN product_object po ON p.objectId = po.objectId
        LEFT JOIN product_type pt ON p.productType = pt.typeId
        LEFT JOIN product_duty_type pdt ON p.dutyTypeId = pdt.typeId
        LEFT JOIN productive_standard ps ON p.standardId = ps.standardId
        LEFT JOIN sys_company sc ON p.companyId = sc.companyId
        LEFT JOIN sys_user su ON p.cUserId = su.userId
        <where>
            <if test="companyId!= null and companyId!=0">
                p.companyId = #{companyId}
            </if>
            <if test="productType!=null and productType!=0">
                AND p.productType = #{productType}
            </if>
            <if test="objectName!=null and objectName!=''">
                AND po.objectName like '#{objectName}'
            </if>
            <if test="dutyTypeId!=null and dutyTypeId!=0">
                AND p.dutyTypeId = #{dutyTypeId}
            </if>
            <if test="acreId!=null and acreId!=0">
                AND p.acreId = #{acreId}
            </if>
            <if test="startDate != null and startDate!=''">
                AND DATE_FORMAT(p.createDate, '%Y-%m-%d') &gt;= DATE_FORMAT(#{startDate}, '%Y-%m-%d')
            </if>
            <if test="endDate != null and endDate!=''">
                AND DATE_FORMAT(p.createDate, '%Y-%m-%d') &lt;= DATE_FORMAT(#{endDate}, '%Y-%m-%d')
            </if>
        </where>
        ORDER BY p.createDate
    </select>

    <select id="queryProductById" resultType="HashMap">
        SELECT p.id,
        p.productNo,
        pt.typeName,
        po.objectName,
        pdt.name AS dutyTypeName,
        ps.name AS standardName,
        p.processNo,
        p.owner,
        sc.companyName,
        su.userName,
        p.productDate,
        p.createDate,
        sc.areaId,
        ca.acreName
        FROM product p
            LEFT JOIN product_object po ON p.objectId = po.objectId
        LEFT JOIN product_type pt ON p.productType = pt.typeId
            LEFT JOIN product_duty_type pdt ON p.dutyTypeId = pdt.typeId
            LEFT JOIN productive_standard ps ON p.standardId = ps.standardId
            LEFT JOIN sys_company sc ON p.companyId = sc.companyId
            LEFT JOIN sys_user su ON p.cUserId = su.userId
        LEFT JOIN company_acre ca ON p.acreId = ca.acreId
        WHERE p.id = #{id}
    </select>
    <select id="queryProductTypeById" resultType="String">
        SELECT symbol
        FROM product_type
        WHERE typeId = #{id}
    </select>

    <select id="existObject" resultType="Integer">
        SELECT count(*)
        FROM product_object
        WHERE objectName = #{objectName}
    </select>

    <select id="getObjectId" resultType="Integer">
        SELECT objectId
        FROM product_object
        WHERE objectName = #{objectName}
    </select>

    <insert id="insertObject" parameterType="com.zrodo.agriculture.entity.TObject" useGeneratedKeys="true"
            keyProperty="objectId">
        INSERT INTO product_object (objectName, openFlag, cUserId, unit, productType, createDate)
            VALUE (#{objectName}, #{openFlag}, #{cUserId}, #{unit}, #{productType}, NOW())
    </insert>
    <select id="queryObjectList" resultType="com.zrodo.agriculture.entity.TObject"
            parameterType="com.zrodo.agriculture.entity.TObject">
        SELECT
            objectId,
            objectName,
            cUserId,
            unit,
            createDate,
            productType
        FROM product_object
        WHERE #{type} &amp; productType &gt; 0
              AND openFlag = 1
        ORDER BY createDate
    </select>
    <select id="queryDutyTypeList" resultType="HashMap">
        SELECT *
        FROM product_duty_type
        WHERE openFlag = 1
    </select>

    <select id="getProductSequence" resultType="Integer">
        SELECT product_next_val(#{companyId}, #{iyear});
    </select>
</mapper>