<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.ProductiveStandardMapper">

    <insert id="addProductiveStandard" parameterType="com.zrodo.agriculture.entity.ProductiveStandard"
            useGeneratedKeys="true" keyProperty="standardId">
        INSERT INTO productive_standard(name,objectId,cUserId,companyId,createDate)
        VALUE (#{name},#{objectId},#{cUserId},#{companyId}, now())
    </insert>

    <delete id="deleteProductiveStandard">
        DELETE FROM productive_standard WHERE standardId = #{standardId}
    </delete>

    <update id="updateProductiveStandard">
        UPDATE productive_standard
        SET name = #{name}
        WHERE standardId = #{standardId}
    </update>

    <select id="queryProductiveStandardList" resultType="HashMap">
        SELECT
        ps.standardId,
        ps.name AS standardName,
        ps.createDate,
        po.objectName,
        pt.typeName,
        sc.companyName,
        su.userName
        FROM productive_standard ps
        LEFT JOIN product_object po ON ps.objectId = po.objectId
        LEFT JOIN product_type pt ON po.productType = pt.typeId
        LEFT JOIN sys_company sc ON ps.companyId = sc.companyId
        LEFT JOIN sys_user su ON ps.cUserId = su.userId
        <where>
            <if test="companyId!= null and companyId!= '' ">
                ps.companyId = #{companyId}
            </if>
            <if test="standardName!= null and standardName!= '' ">
                ps.standardName LIKE '%#{standardName}%'
            </if>
            <if test="objectId!=null and objectId!='' ">
                AND objectId = #{objectId}
            </if>
            <if test="productType!=null and productType!='' ">
                AND po.productType = #{productType}
            </if>
        </where>
        ORDER BY createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="queryProductiveStandardListCount" resultType="Integer">
        SELECT
        count(*)
        FROM productive_standard ps
        LEFT JOIN product_object po ON ps.objectId = po.objectId
        <where>
            <if test="companyId!= null and companyId!= '' ">
                ps.companyId = #{companyId}
            </if>
            <if test="standardName!= null and standardName!= '' ">
                ps.standardName LIKE '%#{standardName}%'
            </if>
            <if test="objectId!=null and objectId!='' ">
                AND objectId = #{objectId}
            </if>
            <if test="productType!=null and productType!='' ">
                AND po.productType = #{productType}
            </if>
        </where>
    </select>

    <select id="queryProductiveStandardById" resultType="HashMap">
        SELECT
            ps.standardId,
            ps.name AS standardName,
            ps.createDate,
            po.objectName,
            pt.typeName,
            sc.companyName,
            su.userName
        FROM productive_standard ps
            LEFT JOIN product_object po ON ps.objectId = po.objectId
            LEFT JOIN product_type pt ON ps.productTypeId = pt.typeId
            LEFT JOIN sys_company sc ON ps.companyId = sc.companyId
            LEFT JOIN sys_user su ON ps.cUserId = su.userId
        WHERE ps.standardId = #{standardId}
    </select>
    <select id="queryProductiveStandardByName" resultType="Integer">
        SELECT count(*)
        FROM productive_standard
        WHERE companyId = #{companyId} AND name = #{name} AND objectId = #{objectId}
    </select>

</mapper>