<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.ProductMapper">

    <insert id="addProduct">
        INSERT INTO product(productNo, objectId, productType, cUserId, createDate, companyId, description, dutyTypeId,
                            processNo, serialNumber, standardId, acreId)
        VALUE (#{productNo}, #{objectId}, #{productTypeId}, #{cUserId}, NOW(), #{companyId}, #{description},
                             #{dutyTypeId}, #{processNo}, #{serialNumber}, #{standardId}, #{acreId})
    </insert>

    <delete id="deleteProduct">
        DELETE FROM product WHERE id = #{id}
    </delete>

    <update id="updateProduct">
        UPDATE product
        <set>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="dutyTypeId != null and dutyTypeId != ''">
                dutyTypeId = #{dutyTypeId},
            </if>
            <if test="acreId != null and acreId != ''">
                acreId = #{acreId},
            </if>
            <if test="standardId != null and standardId != ''">
                standardId = #{standardId},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryProductList" resultType="HashMap">
        SELECT p.id, p.productNo, pt.typeName, po.objectName,pdt.name AS dutyTypeName,
        ps.name AS standardName, sc.companyName,su.userName,p.createDate,p.owner,sc.areaId
        FROM product p
        LEFT JOIN product_object po ON p.objectId = po.objectId
        LEFT JOIN product_type pt ON p.productType = pt.typeId
        LEFT JOIN product_duty_type pdt ON p.dutyTypeId = pdt.typeId
        LEFT JOIN productive_standard ps ON p.standardId = ps.standardId
        LEFT JOIN sys_company sc ON p.companyId = sc.companyId
        LEFT JOIN sys_user su ON p.cUserId = su.userId
        <where>
            <if test="companyId!= null and companyId!= '' ">
                p.companyId = #{companyId}
            </if>
            <if test="productType!=null and productType!='' ">
                AND p.productType = #{productType}
            </if>
        </where>
        ORDER BY createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="queryProductById" resultType="HashMap">
        SELECT p.id, p.productNo, pt.typeName, po.objectName,pdt.name AS dutyTypeName,
                                  ps.name AS standardName, sc.companyName,su.userName,p.createDate,p.owner,sc.areaId
        FROM product p
            LEFT JOIN product_object po ON p.objectId = po.objectId
        LEFT JOIN product_type pt ON p.productType = pt.typeId
            LEFT JOIN product_duty_type pdt ON p.dutyTypeId = pdt.typeId
            LEFT JOIN productive_standard ps ON p.standardId = ps.standardId
            LEFT JOIN sys_company sc ON p.companyId = sc.companyId
            LEFT JOIN sys_user su ON p.cUserId = su.userId
        WHERE p.id = #{id}
    </select>
    <select id="queryProductType" resultType="HashMap">
        SELECT id, typeName
        FROM product_type
    </select>

    <select id="existObject" resultType="Integer">
        SELECT count(*)
        FROM product_object
        WHERE objectName = #{objectName}
    </select>

    <select id="getObjectId" resultType="Integer">
        SELECT objectId
        FROM product_object
        WHERE objectName = #{objectName}
    </select>

    <insert id="insertObject" parameterType="com.zrodo.agriculture.entity.TObject" useGeneratedKeys="true"
            keyProperty="objectId">
        INSERT INTO product_object (objectName, openFlag, cUserId, unit, productType, createDate)
            VALUE (#{objectName}, #{openFlag}, #{cUserId}, #{unit}, #{productType}, NOW())
    </insert>
    <select id="queryObjectList" resultType="com.zrodo.agriculture.entity.TObject"
            parameterType="com.zrodo.agriculture.entity.TObject">
        SELECT
            objectId,
            objectName,
            cUserId,
            unit,
            createDate,
            productType
        FROM product_object
        WHERE #{type} &amp; productType &gt; 0
              AND openFlag = 1
        ORDER BY createDate
    </select>

    <select id="getProductSequence" resultType="Integer">
        SELECT product_seq_nextval(#{companyId}, #{iyear});
    </select>
</mapper>