<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.RoleMapper">

    <insert id="addRole">
        INSERT INTO sys_role(roleName, type, expl, levelId, createDate)
        VALUE (#{roleName}, #{type}, #{expl}, #{levelId}, #{createDate})
    </insert>

    <delete id="deleteRole">
        DELETE FROM sys_role WHERE roleId = #{roleId}
    </delete>

    <update id="updateRole">
        UPDATE sys_role SET
            roleName = #{roleName},
            expl = #{expl}
        WHERE roleId = #{roleId}
    </update>

    <select id="queryRoleList">
        SELECT * FROM sys_user
        WHERE deptId = #{deptId}
        ORDER BY createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="queryRoleListByLevel" resultType="java.util.HashMap" statementType="CALLABLE">
        SELECT roleId,roleName,sys_role.levelId,levelName,expl,sys_role.createDate,
              type, CASE type WHEN 1 THEN '政府部门' WHEN 2 THEN '企业' END AS typeName
        FROM sys_role
        LEFT JOIN sys_dept_level ON sys_role.levelId = sys_dept_level.levelId
        WHERE type = #{type}
        <if test="levelId != null and levelId != 0">
            AND sys_role.levelId = #{levelId}
        </if>
        ORDER BY sys_role.type desc, sys_role.levelId, sys_role.createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="queryRoleById">
        SELECT * FROM sys_role WHERE roleId = #{roleId}
    </select>
</mapper>