<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.SampleMapper">

    <insert id="addSample" parameterType="com.zrodo.agriculture.entity.Sample"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sample(sampleNo,productId,sampleId,tacheId,cUserId,createDate)
        VALUE (#{sampleNo},#{productId},#{sampleId},#{tacheId},#{cUserId}, now())
    </insert>

    <delete id="deleteSample">
        DELETE FROM sample WHERE id = #{id}
    </delete>

    <!--应该用不到，如果添加后台管理可以备用-->
    <!--<update id="updateSample">-->
    <!--UPDATE sample-->
    <!--SET sampleUrl = #{sampleUrl}-->
    <!--WHERE id = #{id}-->
    <!--</update>-->

    <select id="querySampleList" resultType="HashMap">
        SELECT
        s.id,
        s.sampleNo,
        s.tacheId,
        st.tacheName,
        ds.sampleName,
        p.productNo,
        sc.companyName,
        po.objectName,
        su.userName AS cUserName,
        s.createDate
        FROM sample s
        LEFT JOIN product_object po ON s.objectId = po.objectId
        LEFT JOIN product p ON s.productId = p.id
        LEFT JOIN sys_company sc ON p.companyId = sc.companyId
        LEFT JOIN sample_tache st ON s.tacheId = st.tacheId
        LEFT JOIN detect_sample ds ON s.sampleId = ds.sampleId
        LEFT JOIN sys_user su ON p.cUserId = su.userId
        <where>
            <if test="areaId!= null and areaId!= ''">
                sc.areaId = #{areaId}
            </if>
            <if test="companyId!= null and companyId!= ''">
                AND p.companyId = #{companyId}
            </if>
            <if test="productTypeId!= null and productTypeId!= ''">
                AND p.productTypeId = #{productTypeId}
            </if>
            <if test="objectId!=null and objectId!=''">
                AND s.objectId = #{objectId}
            </if>
            <if test="tacheId!=null and tacheId!=''">
                AND s.tacheId = #{tacheId}
            </if>
        </where>
        ORDER BY createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="querySampleListCount" resultType="Integer">
        SELECT count(*)
        FROM sample s
        LEFT JOIN product_object po ON s.objectId = po.objectId
        LEFT JOIN product p ON s.productId = p.id
        LEFT JOIN sys_company sc ON p.companyId = sc.companyId
        LEFT JOIN sys_user su ON p.cUserId = su.userId
        <where>
            <if test="areaId!= null and areaId!= ''">
                sc.areaId = #{areaId}
            </if>
            <if test="companyId!= null and companyId!= ''">
                AND p.companyId = #{companyId}
            </if>
            <if test="productTypeId!= null and productTypeId!= ''">
                AND p.productTypeId = #{productTypeId}
            </if>
            <if test="objectId!=null and objectId!=''">
                AND objectId = #{objectId}
            </if>
            <if test="sourceId!=null and sourceId!=''">
                AND sourceId = #{sourceId}
            </if>
        </where>
        ORDER BY createDate
    </select>

    <select id="querySampleListByProduct" resultType="HashMap">
        SELECT
        s.id,
        s.sampleNo,
        s.tacheId,
        s.sampleDate,
        s.createDate,
        st.tacheName,
        p.productNo,
        sc.companyName,
        po.objectName,
        su.userName AS cUserName
        FROM sample s
        LEFT JOIN product p ON s.productId = p.id
        LEFT JOIN product_object po ON p.objectId = po.objectId
        LEFT JOIN sample_tache st ON s.tacheId = st.tacheId
        LEFT JOIN sys_company sc ON p.companyId = sc.companyId
        LEFT JOIN sys_user su ON p.cUserId = su.userId
        WHERE productId = #{productId}
        ORDER BY s.createDate
    </select>

    <select id="querySampleById" resultType="HashMap">
        SELECT
            s.id,
            s.sampleNo,
            p.productNo,
            sc.companyName,
            po.objectName,
            su.userName AS cUserName
        FROM sample s
            LEFT JOIN product_object po ON s.objectId = po.objectId
            LEFT JOIN product p ON s.productId = p.id
            LEFT JOIN sys_company sc ON p.companyId = sc.companyId
            LEFT JOIN sys_user su ON p.cUserId = su.userId
        WHERE s.id = #{id}
        ORDER BY createDate
        LIMIT #{startNo},#{pageSize}
    </select>

    <select id="getSampleNos" resultType="String">
        SELECT MAX(s.sampleNo)
        FROM sample s
        WHERE s.sampleNo LIKE CONCAT('${sampleNo}', '%')
        ORDER BY s.id DESC
    </select>
</mapper>