<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zrodo.agriculture.repository.UserMapper">
    <insert id="addUser">
        INSERT INTO sys_user(account,userName,password,type,deptId,companyId,roleId,createDate,phoneNumber)
            VALUE (#{account},#{userName},#{password},#{type},#{deptId},#{companyId},#{roleId},#{createDate},#{phoneNumber})
    </insert>

    <delete id="deleteUser">
        DELETE FROM sys_user WHERE userId = #{userId}
    </delete>

    <update id="updateUser">
        UPDATE sys_user SET
            userName = #{userName},
            password = #{password},
            phoneNumber = #{phoneNumber}
        WHERE userId = #{userId}
    </update>

    <select id="queryUserListByDept" resultType="java.util.HashMap" statementType="CALLABLE">
        SELECT
            userId,
            account,
            userName,
            su.createDate,
            phoneNumber
        FROM sys_user su
            LEFT JOIN sys_dept sd ON su.deptId = sd.deptId
        WHERE su.deptId = #{deptId}
        ORDER BY createDate
        LIMIT #{startNo},#{pageSize}
    </select>
    <select id="queryUserListByCompany" resultType="java.util.HashMap" statementType="CALLABLE">
        SELECT *
        FROM sys_user
        WHERE companyId = #{companyId}
        LIMIT #{startNo},#{pageSize}
    </select>
    <select id="queryUserById" resultType="java.util.HashMap" statementType="CALLABLE">
        SELECT *
        FROM sys_user
        WHERE userId = #{userId}
    </select>

    <select id="queryUserByAccount" resultType="com.zrodo.agriculture.domain.AccountInfo" parameterType="com.zrodo.agriculture.domain.AccountInfo">
        SELECT userId AS id, account, userName, password, type, deptId, su.companyId, roleId, phoneNumber, sc.auditing
        FROM sys_user su
        LEFT JOIN sys_company sc ON su.companyId = sc.companyId
        WHERE account = #{account}
    </select>
</mapper>